/* DEFAULT COLORS*/

$color-default: #fff;
$color-default--hover: #ffa500;
$color-dark-gray: darkgray;
$default-gray: gray;
$default-dark-gray: darkgrey;
$default-orange: orange;

/* DROPDOWN MENU*/
$transparent-black: rgba(255, 255, 255, 0.1);
$dropdown-service: rgba(172, 163, 163, 0.534);
$dropdown-border-grey: #ccc;
$transparent-color: rgba(0, 0, 0, 0);

/* Services section and Category services section and common colors*/

$transparent-black: rgba(255, 255, 255, 0.1);
$dropdown-service: rgba(172, 163, 163, 0.534);
$dropdown-border-grey: #ccc;
$default-black: black;
$orange-theme-color: #ff5733;

/*Common font*/

$font-family-theme: "Times New Roman", Times, serif;
$font-family-container: "Calibri", sans-serif;
$font-family-lato: "Lato", "Helvetica Neue", Helvetica, Arial;

/* form section css */

$form-gb-color: rgba(128, 128, 128, 0.5);

/* */
$text-align-left: left;

$next-bg-color: rgb(72, 72, 72);
